body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .side-nav{
    width: 80%
  }
  @media only screen and (min-width: 602px)  {
      .btn-enviar{
        top: 60px
      }

  }
